@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato";
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html,
body {
    overflow-x: hidden;
}

.active {
    border-bottom: 1px solid #aed9e0;
}

/* Header section */
#header {
    background-color: #283845;
    font-weight: 500;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

#menu {
    padding-right: 70px;
}

#menu li {
    transition: 0.5s ease transform;
}

#menu li:hover {
    transform: scale(1.1);
}

#menu a:hover {
    border-bottom: hidden;
}

#header h1 {
    font-size: 50px;
    letter-spacing: 2px;
    color: #aed9e0;
}

#header i {
    color: #ffa69e;
}

#header li {
    list-style: none;
    display: inline-block;
    padding: 0 25px;
    font-size: 1.6rem;
}

#header a {
    text-decoration: none;
    color: #aed9e0;
}

#header a:hover {
    color: #ffa69e;
}

/* End of Header section */

/* Hero section */
#hero {
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: black;
    padding: 0 0 30% 40%;
}

.hero-heading {
    font-weight: 400;
    font-size: 70px;
    letter-spacing: 2px;
    padding-bottom: 5rem;
}

.hero-para {
    font-size: 30px;
    letter-spacing: 2px;
}

#hero-text {
    margin-top: 200px;
}

/* End of Hero section */

/* Main section */
#main {
    padding: 0 20px;
}

#main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

.mc-text {
    margin-top: 30px;
}

.mc-heading {
    background-color: #ffa69e41;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.507);
    border-radius: 5px;
    margin: 150px auto;
    width: 100%;
    max-width: 2400px;
    padding: 40px;
}

.mc-heading h3 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    font-style: italic;
}

.mc-intro {
    padding-bottom: 30px;
}

.mc-mid {
    margin: 60px 0;
}

.mc-mid:nth-child(3) {
    padding: 10px;
}

.mc-text p {
    font-size: 25px;
    padding: 15px;
    text-align: center;
    font-weight: 400;
    line-height: 2rem;
    width: 100%;
}

/* Wax Section */
#wax-container {
    max-width: 3000px;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.bee {
    background-image: url(../images/beeswax.jpg);
}

.soy {
    background-image: url(../images/soy-wax.jpg);
}

.para {
    background-image: url(../images/paraffin-wax.jpg);
}

.bee,
.soy,
.para {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#wax-type {
    padding: 0 20px;
}

.wax-text {
    max-width: 500px;
    height: 240px;
    width: 100%;
    line-height: 1.8rem;
    font-size: 20px;
}

.wax-img {
    max-width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
}

/* Video section */
#video-section h3 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.candle-vid video {
    display: block;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    margin: 30px auto 150px auto;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    cursor: pointer;
}

/* End of Main Section */

/* About section */
#about {
    padding: 0 20px;
    flex-grow: 1;
}

.about-block {
    background-color: #ffa69e41;
    max-width: 1000px;
    height: 100%;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.507);
    border-radius: 5px;
}

.about-block h2 {
    margin: 10px 0 20px 0;
    font-size: 30px;
}

.about-block p {
    font-size: 20px;
    line-height: 2rem;
}

/* End of About Section */

/* Sign-Up Section */
#form-section {
    flex-grow: 1;
    background-image: url("../images/signup-cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#form-container {
    background-color: #283845f3;
    min-height: 500px;
    max-width: 500px;
    padding: 25px 25px;
    margin: 300px auto;
    color: #aed9e0;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
}

#form-container h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

.text-input {
    height: 30px;
    margin-top: 10px;
    border: none;
    padding-left: 10px;
    border-radius: 3px;
    outline: none;
}

.text-input:hover {
    outline: auto;
    outline-color: #ffa69e;
}

.form-control {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    font-size: 20px;
}

.submit-button {
    margin-top: 50px;
    width: 100px;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    background-color: #aed9e0;
    color: #283845;
    text-transform: uppercase;
    transition: ease 0.5s transform;
    font-weight: 700;
}

.submit-button:hover {
    background-color: #ffa69e;
    transform: scale(1.1);
    cursor: pointer;
    font-weight: 700;
}

/* End of Sign-Up Section */

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #283845;
    width: 100%;
    height: 100%;
}

.s-media {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    padding: 1rem 3rem;
    justify-content: center;
    font-size: 1.5rem;
}

.s-media li {
    padding: 0 50px;
}

.s-media i {
    color: #aed9e0;
    transition: 0.9s ease transform;
}

.s-media i:hover {
    color: #ffa69e;
    transform: scale(1.5);
}

#brand {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#brand h3 {
    font-size: 25px;
    margin: 10px 0;
}

#brand p {
    margin-bottom: 10px;
    font-size: 15px;
}

#brand h3,
#brand p {
    color: #aed9e0;
}

#brand i {
    color: #ffa69e;
}

/* End of Footer section */

/* *** MEDIA QUERY *** */
/* Ultra-Wide Desktop Screens */
@media screen and (min-width: 2200px) {

    /* Hero Section */
    #hero {
        position: relative;
    }

    #hero h1 {
        position: absolute;
        top: 200px;
        right: 400px;
    }

    #hero p {
        position: absolute;
        top: 300px;
        right: 400px;
    }
}

/* End of Ultra-Wide Desktop Screens */

/* Large Desktop screens */
@media screen and (max-width: 1800px) {

    /* Hero Section */
    .mc-heading h3 {
        font-size: 35px;
    }
}

/* End of Large Desktop screens */

/* Middle Desktop Screens */
@media screen and (max-width: 1700px) and (min-width: 1160px) {

    /* Hero Section */
    #hero {
        background-position-x: -1cm;
        padding: 0 0 40% 0;
    }

    #hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .para {
        margin-top: 50px;
    }
}

/* End of Middle Desktop Screens */

/* Small Desktop Screens */
@media screen and (max-width: 1160px) {

    /* Header*/
    #header h1 {
        font-size: 40px;
    }

    #header li {
        padding: 10px;
        font-size: 25px;
    }

    #menu {
        padding-right: 10px;
    }

    /* Hero */
    #hero {
        padding: 0 0 70% 0;
    }

    .hero-heading {
        font-size: 60px;
        letter-spacing: 2px;
    }

    .hero-para {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .mc-text {
        margin: 0;
    }

    #wax-container {
        padding: 0 5px;
    }

    .wax-text {
        max-width: 600px;
        height: 200px;
    }

    #wax-type:nth-child(2) {
        margin: 100px 0;
    }

    .wax-img {
        max-width: 600px;
        height: 600px;
        margin-bottom: 20px;
    }

    #video-section {
        max-width: 700px;
        margin: 0 auto;
    }

    #video-section h3 {
        font-size: 25px;
        margin-top: 80px;
    }
}

/* End of Small Desktop Screens */

/* Tablet */
@media screen and (max-width: 768px) {

    /* Header */
    #header h1 {
        font-size: 30px;
    }

    #header li {
        font-size: 20px;
        padding: 5px;
    }

    /* Hero */
    #hero h1 {
        font-size: 50px;
    }

    #hero p {
        font-size: 25px;
    }

    /* Main */
    #main {
        padding: 0 2px;
    }

    #main-container {
        padding: 0 10px;
    }

    .mc-heading {
        margin: 40px 0;
    }

    .mc-heading h3 {
        font-size: 25px;
    }

    .mc-mid {
        margin: 100px 0 0 0;
    }

    .mc-mid p {
        font-size: 22px;
        padding: 10px 10px;
    }

    #wax-container {
        margin-bottom: 0;
    }

    .wax-text p {
        font-size: 20px;
    }
}

/* End of Tablet */

/* Mobile Phones */
@media screen and (max-width: 600px) {

    /* Header */
    #header {
        flex-direction: column;
        justify-content: space-evenly;
    }

    #header h1 {
        font-size: 25px;
    }

    #header li {
        font-size: 15px;
    }

    /* Hero */
    #hero {
        background-size: cover;
    }

    #hero-text {
        padding-bottom: 350px;
    }

    #hero h1 {
        font-size: 30px;
        letter-spacing: 1px;
    }

    #hero p {
        font-size: 20px;
        letter-spacing: 1px;
    }

    /* Main */
    #main {
        padding: 0 5px;
    }

    #main-container {
        padding: 0;
    }

    .mc-heading {
        padding: 7px;
        margin: 60px 0;
    }

    .mc-heading h3 {
        font-size: 20px;
    }

    .mc-mid p {
        font-size: 18px;
    }

    .wax-text {
        max-width: 500px;
        height: 300px;
    }

    .wax-text h3 {
        font-size: 20px;
        padding-bottom: 5px;
    }

    .wax-text p {
        font-size: 17px;
    }

    .wax-img {
        max-width: 500px;
        height: 400px;
    }

    #wax-type {
        padding: 0;
        margin: 0;
    }

    #wax-type:nth-child(2) {
        margin: 10px 0;
    }

    #video-section h3 {
        font-size: 20px;
        margin: 0;
    }

    /* About */
    #about {
        padding: 0 5px;
    }

    .about-block {
        padding: 10px;
    }

    .about-block h2 {
        font-size: 25px;
    }

    .about-block p {
        font-size: 18px;
    }

    /* Sign Up */
    #form-container {
        margin-left: 5px;
        margin-right: 5px;
    }

    #form-container h2 {
        font-size: 35px;
        margin: 0;
    }

    .form-control {
        font-size: 18px;
    }

    /* Footer */
    .s-media {
        padding: 0;
        font-size: 20px;
    }

    .s-media li {
        padding: 10px 10px;
    }
}

@media screen and (max-width: 414px) {

    /* Hero */
    #hero-text {
        padding-bottom: 280px;
    }

    #hero h1 {
        padding-bottom: 20px;
    }

    .wax-img {
        height: 300px;
    }
}

/* End of Mobile Phones */

/* END OF MEDIA QUERY */