@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato";
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.active {
    border-bottom: 1px solid #aed9e0;
}


/* Header section */
#header {
    background-color: #283845;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

#menu {
    padding-right: 70px;
}

#menu li {
    transition: 0.5s ease transform;
}

#menu li:hover {
    transform: scale(1.1);
}

#menu a:hover {
    border-bottom: hidden;
}

#header h1 {
    font-size: 50px;
    letter-spacing: 4px;
    color: #aed9e0;
}

#header i {
    color: #ffa69e;
}

#header li {
    list-style: none;
    display: inline-block;
    padding: 0 25px;
    font-size: 1.6rem;
}

#header a {
    text-decoration: none;
    color: #aed9e0;
}

#header a:hover {
    color: #ffa69e;
}


/* End of Header section */
#hero-img {
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
}

#hero-title {
    position: absolute;
    top: 250px;
    right: 300px;
    color: black;
}

.hero-heading {
    font-size: 4rem;
    padding-bottom: 5rem;
}

.hero-text {
    font-size: 2rem;
}

/* Hero section */


/* Main section */
#main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    flex-grow: 1;
}

.md-text h2 {
    font-size: 35px;
    padding: 100px 0;
    text-align: center;
}

.md-text p {
    font-size: 20px;
    text-align: center;
    line-height: 2rem;
    width: 100%;
    margin: 0 auto;
}


/* Wax Section */
#wax {
    margin-bottom: 100px;
    height: 100%;
}

#wax-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.wax-title {
    margin: 100px auto;
    text-align: center;
    font-size: 25px;
}

.bee {
    background-image: url(../images/beeswax.jpg);
}

.soy {
    background-image: url(../images/soy-wax.jpg);
}

.para {
    background-image: url(../images/paraffin-wax.jpg);
}

.bee,
.soy,
.para {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.wax-text {
    width: 400px;
    margin-left: 10px;
    line-height: 1.8rem;
}

.wax-text h3 {
    margin: 20px 0 10px 0;
}

.wax-img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.wax-img {
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.5s ease transform;
}

.wax-img:hover {
    transform: scale(1.03);
}


/* Video section */
#candle-compare-section h3 {
    display: block;
    margin: 4rem auto;
    text-align: center;
    font-size: 25px;
}

.candle-vid video {
    display: block;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    margin: 2rem auto 150px auto;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    cursor: pointer;
}

/* End of Video Section */


/* About section */
#about {
    flex-grow: 1;
}

.about-block {
    background-color: #ffa69e41;
    max-width: 1000px;
    height: 100%;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    transition: 0.5s ease transform;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.507);
    border-radius: 5px;
}

.about-block h2 {
    margin: 10px 0 20px 0;
    font-size: 2rem;
}

.about-block p {
    font-size: 1.2rem;
    line-height: 2rem;
}


/* Sign-Up Section */
#form-section {
    flex-grow: 1;
    background-image: url("../images/signup-cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#form-container {
    background-color: #283845f3;
    height: 500px;
    width: 500px;
    padding: 25px 25px;
    margin: 300px auto;
    color: #aed9e0;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
}

#form-container h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
}

.text-input {
    height: 30px;
    margin-top: 10px;
    border: none;
    padding-left: 10px;
    border-radius: 3px;
    outline: none;
}

.text-input:hover {
    outline: auto;
    outline-color: #ffa69e;
}

.form-control {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    font-size: 17px;
}

.submit-button {
    margin-top: 50px;
    width: 100px;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    background-color: #aed9e0;
    color: #283845;
    text-transform: uppercase;
    transition: ease 0.5s transform;
    font-weight: 700;
}

.submit-button:hover {
    background-color: #ffa69e;
    transform: scale(1.1);
    cursor: pointer;
    font-weight: 700;
}

/* End of Sign-Up Section */


/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #283845;
    width: 100%;
    height: 100%;
}

.s-media {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    padding: 1rem 3rem;
    justify-content: center;
    font-size: 1.5rem;
}

.s-media li {
    padding: 0 50px;
}

.s-media i {
    color: #aed9e0;
    transition: 0.9s ease transform;
}

.s-media i:hover {
    color: #ffa69e;
    transform: scale(1.5);
}

#brand {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#brand h3 {
    font-size: 25px;
    margin: 10px 0;
}

#brand p {
    margin-bottom: 10px;
    font-size: 15px;
}

#brand h3,
#brand p {
    color: #aed9e0;
}

#brand i {
    color: #ffa69e;
}

/* End of Footer section */